<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>連絡帳アプリ</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>中学校 連絡帳アプリ</h1>
      <!-- <p>どちらかを選択してください</p> -->
      <p><a href="/login" class="btn">ログイン</a></p>
      <!-- <p><a href="/register" class="btn">新規登録</a></p> -->
    </div>
  </body>
</html>
